.opaque {
  opacity: 1; /* Fully opaque */
}

.transparent {
  opacity: 0.5;
}

div {
  overflow: visible;
}

.ind-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 16px;
  border-radius: 8px; /* Add border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  text-align: center;
}

.ind-container img {
  max-height: 200px;
  border-radius: 4px; /* Add border-radius for rounded corners */
  margin-bottom: 8px; /* Add spacing between the image and text */
}
